<div class="mxheatmap" data-dojo-attach-point="widgetBase">
	<style>
		.mxheatmap{
			position:relative;
		}
		.mxheatmap .options{
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px;
			background: rgba(0,0,0,0.5);
			border-bottom: 1px solid rgba(255,255,255,0.2);
			border-left: 1px solid rgba(255,255,255,0.2);
			line-height: 1;
		}
		.mxheatmap .options input {
			width: 200px;
		}
		.mxheatmap .options label {
			width: 60px;
			float: left;
			text-align: right;
			margin-right: 10px;
			color: rgba(255,255,255,0.8);
		}
	</style>

    <div class="options">
        <label>Radius </label><input  data-dojo-attach-point="input_radius" type="range" id="radius" value="25" min="10" max="50" /><br />
        <label>Blur </label><input   data-dojo-attach-point="input_blur" type="range" id="blur" value="15" min="10" max="50" />
    </div>
	<canvas  data-dojo-attach-point="canvas" id="canvas" width="1000" height="600"></canvas>
</div>
